*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}
.box{
    width: 500px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: blueviolet;
    
}

.conteiner{
    width: 100%;
    height: 30px;
}
ul{
    margin:20px auto;
}
li{
    cursor: pointer;
}
li.done{
    text-decoration: line-through;
}
button{
    cursor: pointer;
    height: 30px;
    margin: 6px;
}
input{
    height: 30px;
    
    margin: 5px;

}
#add{
    background-color: green;
    border: none;
    width: 50px;
    border-radius: 5px;
}
#clearall{
    background-color: red;
    width:60px;
    border: none;
    border-radius: 5px;
}
#cleardone{
    width:80px;
    border: none;
    border-radius: 5px;
    background-color: yellow;

}
#save{
    width:60px;
    border: none;
    border-radius: 5px;
    background-color: blue;

}

